@media (min-width: 350px) and (max-width: 1300px){
    nav{
        .icon{
            img{
                width: 50% !important;
            }
        }
        .link{
            svg{
                width: 50% ;
            }
            a{
                display: none !important;
            }
        }
        .btn{
             width: 90% !important;
        }
       } 
}
@media (min-width: 371px) and (max-width: 1300px){
   nav{
    .icon{
        img{
            width: 50% !important;
        }
    }
    .link{
        svg{
            width: 35%;
        }
        a{
            display: none !important;
        }
        .btn{
            width: 90%;
        }
    }
   }
}
 @media (min-width: 577px) and (max-width: 1300px) {
    .link{
        svg{
            width: 30%;
        }
        a{
            display: none !important;
        }
        .btn{
            width: 85%;
        }
    }


}
@media (min-width: 769px) and (max-width: 1300px) {
    nav{
    .icon{
            img{
                width: 30% !important;
            }
    }
    .link{
        svg{
            width: 30%;
        }
        a{
            display: none !important;
        }
        .btn{
            width: 80%;
        }
    }
 }

 }
@media (min-width: 992px) and (max-width: 1200px) {
 
    nav{
        .icon{
            img{
                width: 25% !important;
            }
        }
       }
}

 @media (min-width: 1181px) and (max-width: 1300px) {
    nav{
        .icon{
            img{
                width: 30% !important;
            }
        }
       }
 }

