 //!  Color Web Site  //
  $fristColor: #fff;
  $LastColor:#1da1f2;
  $hadeColor:#1da1f2;
  $textColor:#5b7083;
  $blackColor:#000;
  // ? End Color Web Site // 
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing-: border-box;
    -moz-box-sizing-: border-box;
    -ms-box-sizing-: border-box;
    box-sizing: border-box; }
  *,
  *::before,
  *::after {
    box-sizing: border-box; }
    body{
        margin: 0;padding: 0;
        background-color: $fristColor;
        
    }
    h1,h2,h3,h4{
        font-weight: bold;
    }
    // ! Navbar Left  Web Site  //
    .section{
          position: relative;  
            width: 100%;
        nav{
            position: fixed;
            width: 25%;
            height: 100vh;
            background-color: $fristColor;
            overflow: hidden;
            top: 0;
            text-align: center;
            border-right: 1px solid $textColor ;
        .icon{
            padding: 10px;
            img{
                width: 15%;
                margin: auto;
                display: block;
            }
        }
        .link{
            cursor: pointer;
        .svg{
         margin-top: 25px;
        font-weight: bolder;
        transition: 0.5s all ease-in-out;
        &:hover{
            border-radius: 50px;
            background-color: $LastColor;
            width: 85%;
            vertical-align: middle;
            transform: translate(17px, 10px);
             }
            }
            svg{
                width: 10%;
                color: $fristColor;
                display: inline-block;
            }
            li{
                display: inline-block;
                padding: 10px;
                a{
                    color: $blackColor;
                    vertical-align: middle;
                    text-decoration: none;
                    transition: .5 ease-in-out;
                    &:hover{
                        color: $fristColor;
                    }
                }
            }
        }
        .btn{
            margin-top: 25px; 
            border-radius: 50px;
            width: 60%;
        }
        }
        .div{
            position: fixed;
            top: 0;
            left: 25%;
        }
        li{list-style: none; 
        a{font-weight: bolder;font-size: 22px;color: $blackColor;}
         }
        ul{
            list-style: none;
            display: flex;
            padding: 25px;
            li{
                vertical-align: middle;
                list-style: none;
            }
        }
        svg{
            width: 30%;
        }
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            border-radius: 50%;
            margin-right: auto;
        }
        textarea{
            border: none;
            resize: none;
        }
    }
// ----------------------------------------------/////////
@import './media'; 