* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing-: border-box;
  -moz-box-sizing-: border-box;
  -ms-box-sizing-: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

h1, h2, h3, h4 {
  font-weight: bold; }

.section {
  position: relative;
  width: 100%; }
  .section nav {
    position: fixed;
    width: 25%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    top: 0;
    text-align: center;
    border-right: 1px solid #5b7083; }
    .section nav .icon {
      padding: 10px; }
      .section nav .icon img {
        width: 15%;
        margin: auto;
        display: block; }
    .section nav .link {
      cursor: pointer; }
      .section nav .link .svg {
        margin-top: 25px;
        font-weight: bolder;
        transition: 0.5s all ease-in-out; }
        .section nav .link .svg:hover {
          border-radius: 50px;
          background-color: #1da1f2;
          width: 85%;
          vertical-align: middle;
          transform: translate(17px, 10px); }
      .section nav .link svg {
        width: 10%;
        color: #fff;
        display: inline-block; }
      .section nav .link li {
        display: inline-block;
        padding: 10px; }
        .section nav .link li a {
          color: #000;
          vertical-align: middle;
          text-decoration: none;
          transition: .5 ease-in-out; }
          .section nav .link li a:hover {
            color: #fff; }
    .section nav .btn {
      margin-top: 25px;
      border-radius: 50px;
      width: 60%; }
  .section .div {
    position: fixed;
    top: 0;
    left: 25%; }
  .section li {
    list-style: none; }
    .section li a {
      font-weight: bolder;
      font-size: 22px;
      color: #000; }
  .section ul {
    list-style: none;
    display: flex;
    padding: 25px; }
    .section ul li {
      vertical-align: middle;
      list-style: none; }
  .section svg {
    width: 30%; }
  .section .img {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section img {
    border-radius: 50%;
    margin-right: auto; }
  .section textarea {
    border: none;
    resize: none; }

@media (min-width: 350px) and (max-width: 1300px) {
  nav .icon img {
    width: 50% !important; }
  nav .link svg {
    width: 50%; }
  nav .link a {
    display: none !important; }
  nav .btn {
    width: 90% !important; } }
@media (min-width: 371px) and (max-width: 1300px) {
  nav .icon img {
    width: 50% !important; }
  nav .link svg {
    width: 35%; }
  nav .link a {
    display: none !important; }
  nav .link .btn {
    width: 90%; } }
@media (min-width: 577px) and (max-width: 1300px) {
  .link svg {
    width: 30%; }
  .link a {
    display: none !important; }
  .link .btn {
    width: 85%; } }
@media (min-width: 769px) and (max-width: 1300px) {
  nav .icon img {
    width: 30% !important; }
  nav .link svg {
    width: 30%; }
  nav .link a {
    display: none !important; }
  nav .link .btn {
    width: 80%; } }
@media (min-width: 992px) and (max-width: 1200px) {
  nav .icon img {
    width: 25% !important; } }
@media (min-width: 1181px) and (max-width: 1300px) {
  nav .icon img {
    width: 30% !important; } }

/*# sourceMappingURL=style.css.map */
